*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-image: url(.//assets/index-img.jpg); */
    /* background-color: rgb(165, 134, 92); */
    /* background-color: white; */
    background-color: rgb(255, 255, 255);

    /* background-color: royalblue; */
    /* height: 70px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 10px 0px;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 1099;
}
.nav2{
    display: none;
    justify-content: space-between;
    /* background-image: url(.//assets/index-img.jpg); */
    background-color: rgb(165, 134, 92);
    /* background-color: royalblue; */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 10px 0px;
    height: 70px;
     position: fixed;
    width: 100%;
    z-index: 999;
}
nav h1{
    font-size: 40px;
    /* color: white; */
    color: rgb(165, 134, 92);

    font-weight: lighter;
    margin-left: 20px;
}
nav ul{
    display: flex;
    font-size: 25px;
    list-style-type: none;
    gap: 50px;
}
nav a{
    text-decoration: none;
    /* color: white; */
    /* color: rgb(165, 134, 92); */
    color: rgb(216, 179, 127);

    font-weight: lighter;
}
nav a:hover{
    color: gold;
    transition: 0.2s ease;
}
nav button{
    padding: 7px 15px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    color: rgb(216, 179, 127);
    background: transparent;
}
nav button:hover{
    color: white;
    background-color: rgb(165, 134, 92);
    transition: 0.2s ease;
    cursor: pointer;
}
.main{
    background-image: url(.//assets/index-img.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1051;

}
.main p{
    width: 700px;
    font-size: 42px;
    color: white;
    padding-top: 200px;
    margin-left: 30px;
}
.button{
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
    background-color: #c5a572;
    border: none;
    font-weight:lighter;
    font-family: sans-serif;

}
.button:hover{
    background-color: #b5905f;
    cursor: pointer;
    transition: 0.5s ease;
}
.material{
    padding: 30px 20px;
    /* background-color: rgb(165, 134, 92); */
    background-color: white;
}
.material h1{
    text-align: center;
    font-size: 50px;
    padding: 10px 0px;
    color: #8a6d3b;
    /* color: white; */
    /* opacity: 0.8; */

}
.materiall{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    /* width: 100%; */
}
.material img{
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */
}
.item{
    border: 2px dotted #c5a572;    
    height: 280px;
    width: 100%;
}
.materiall h2{
    font-size: 30px;
    text-align: center;
    color: #5c3d08;

}
.about{
    background-color: rgb(255, 247, 237);
}
.abt{
    display: flex;
    /* border: 5px solid red; */
}
.text{
    width: 100%;
    margin-top: 100px;
    padding: 0px 0px 0px 20px;
}
.text h1{
    font-size: 40px;
    margin-top: 20px;
    color: #47371a;

}
.text p{
    font-size: 22px;
    line-height: 1.5;
    margin-top: 50px;
}
.image{
    width: 100%;
}
.image img{
    width: 80%;
}
.product-section{
    padding: 0px 20px;
    margin-top: 30px;
}
.product-section h1{
    text-align: center;
    font-size: 55px;
    font-weight: lighter;
    color: #46371d;

}
.product-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.product-card{
    border: 1px solid black;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    /* align-items: center; */
    /* padding: 0px 0px; */
}
.product-card:hover{
 .imagee{
    /* transform: scale(-100%,-100%);*/
    transform: scale(1.30);
    transition-duration: 0.5s;
 }
}
.product-card h3,h4{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-weight: lighter;

}
.product-card h4{
    font-weight: bold;
}
.product-card img{
    background-color: rgb(224, 202, 171);
    width: 100%;
    border-radius: 10px;
}
.product-card button{
    width: 90%;
    height: 40px;
    border: 1px dotted black;
    /* margin: auto; */
    font-size: 20px;
    margin: 10px auto;
    border-radius: 10px;
    color: #312613;

}
.product-card button:hover{
    opacity: 0.7;
    transition: 0.2s ease;
    cursor: pointer;
    /* background-color: #e4e4e4; */
}
.product-img{
    overflow: hidden;
}
.parent{
    margin: 70px 0px 50px 0px ;
}
.contact-container{
    /* border: 2px solid black; */
    display: flex;
    gap: 50px;
    padding: 0px 20px  ;
    align-items: center;
}
.contact-container h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-container img{
    margin-top: 50px;
    width: 100%;
    height: 300px;
}
.inp input{
    height: 40px;
    outline: none;
    padding:0px 20px;
}
.contact-btn{
    padding: 5px 30px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(231, 190, 132);
    border: none;
    color: white;
}


.footer {
    /* background: #111; */
    background-color: rgb(165, 134, 92);
    color: #fff;
    padding: 80px 0px 50px 0px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  
  .footer-section {
    width: 23%;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: gold;
  }
  
  .footer-section ul li {
    list-style: none;
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    /* color: #ccc; */
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: gold;
    transition: 0.2s ease;
  }
  
  .logo {
    color: gold;
    font-size: 22px;
  }
  
  .copyright {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #333;
    color: white;
    margin-top: 20px;
  }
  @media (0px <=width <= 576px) {
    nav{
        display: none;
    }
    .nav2{
        display: flex;
        /* justify-content: space-around; */
        border: 2px solid black;
    }
    .nav2 i{
        padding-right: 20px;
    }
    .nav2-logo{
        margin-left: 0px;
    }
    .main{
        height: 450px;
    }
    .main p{
        font-size: 22px;
        font-weight: 100;
        padding-top:80px;
        width: 67%;
        margin-left: 5px;
        line-height: 1.2;
    }
    .main button{
        margin-left: 5px;
    }
    .material h1{
        font-size: 30px;
    }
    .materiall{
        flex-direction: column;
    }
    .item{
        height: 80%;
        padding: 10px 0px;
    }
    .abt{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px;
    }
    .text{
        /* border: 2px solid black; */
        margin: 50px;
        padding-right: 0px 0px;
    }
    .text h1{
        font-size: 35px;
    }
    .text p{
        margin-top: 20px;
        font-size: 20px;
        padding-right:20px;
    }
    .image{
        padding-left: 20px;
    }
    .product-section h1{
        font-size: 39px;
    }
    .product-container{
        row-gap: 50px;
    }
    .product-card{
        width: 100%;
    }
    .contact-container{
        flex-direction: column;
    }
  }
  @media (577px <=width <= 3000px) {
    nav{
        height: 70px;
    }
  }