*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-image: url(.//assets/index-img.jpg); */
    /* background-color: rgb(165, 134, 92); */
    /* background-color: white; */
    background-color: rgb(255, 247, 237);

    /* background-color: royalblue; */
    align-items: center;
    padding: 10px 0px;
 
     /* position: fixed; */
    width: 100%;
    /* z-index: 999; */
}
.nav2{
    justify-content: space-between;
    /* background-image: url(.//assets/index-img.jpg); */
    background-color: rgb(165, 134, 92);
    /* background-color: royalblue; */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 10px 0px;
    height: 60px;
     position: fixed;
    width: 100%;
    z-index: 999;
}
nav h1{
    font-size: 40px;
    /* color: white; */
    color: rgb(165, 134, 92);

    font-weight: lighter;
    margin-left: 20px;
}
nav ul{
    display: flex;
    font-size: 25px;
    list-style-type: none;
    gap: 50px;
}
nav a{
    text-decoration: none;
    /* color: white; */
    color: rgb(165, 134, 92);

    font-weight: lighter;
}
nav a:hover{
    color: gold;
    transition: 0.2s ease;
}
nav button{
    padding: 7px 15px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
}
nav button:hover{
    color: white;
    background-color: rgb(165, 134, 92);
    transition: 0.2s ease;
    cursor: pointer;
}
.main{
    background-image: url(.//assets/index-img.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main p{
    width: 700px;
    font-size: 42px;
    color: white;
    padding-top: 200px;
    margin-left: 30px;
}